.login {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    text-align: center;
    padding: 3em;

    display: flex;
    align-items: center;
    align-self: center;
    align-content: center;

    .wrapper {
        margin: 0 auto;
        width: 275px;
    }
}
    