<h2 translate>My Products
        <button type="button" class="btn btn-primary right" (click)="updateProducts()" translate>
                Update Products
        </button>
        <button type="button" class="btn btn-primary" (click)="openCreateModal()">
                <fa-icon [icon]="iconNew"></fa-icon>
        </button>
</h2>

<app-tables [header]='["name","id","iva","pvp","discount"]' [data$]='products$' [theme]='"table-bordered"'
        [search]='true' [pagination]='true' (clickedRow)='clickRow($event)'>
</app-tables>